.headerContainer {
    margin:5px;
    border: 2px solid red;

}
.title1 {
    margin:5px;
    border: 2px solid red;
    text-align: center;
}
.navBar {
    margin:5px;
    border: 2px solid red;
}
.title2 {
    margin:5px;
    border: 2px solid red;
}
.link {
    margin:5px;
    border: 2px solid red;
}

/*  */
.mainContainer {
    margin:5px;
    border: 2px solid red;

}
.container {
    margin:5px;
    border: 2px solid red;
}
.img {
    margin:5px;
    border: 2px solid red;
}
.description {
    margin:5px;
    border: 2px solid red;
}
.properties {
    margin:5px;
    border: 2px solid red;
}
.subtitle {
    margin:5px;
    border: 2px solid red;
}
.text {
    margin:5px;
    border: 2px solid red;
}
/*  */